.aboutFt-wrap {
  margin-top: 10px;
  padding: 15px;
  background-color: white;
  border: 3px solid #6c3d16;
}

.aboutFt-wrap>h4, h3, h2, h1 {
  text-align: center;
}

.aboutFt-wrap>p {
  font-size: x-large;
}

@font-face {
  font-family: "MarckScript-Regular";
  src: url("../fonts/MarckScript-Regular.ttf") format("truetype");
}

p, h4, h3, h2, h1 {
  font-family: "MarckScript-Regular";
  color: #6c3d16;
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
}

.phone:before {
  content: '';
  background: url(../images/icons.png) no-repeat 0 -39px;
  width: 16px;
  height: 15px;
  z-index: 3;
  position: absolute;
  top: 3px;
  left: 0px;
}
