.header {
  background: rgba(248, 203, 156, 0.8);
  max-width: 100%;
  width: 100%;
  border-top: 3px solid #6c3d16;
  border-bottom: 3px solid #6c3d16;
  margin-bottom: 15px;
  padding: 5px 0 5px 0;
}
.header-image {
  margin-left: auto;
  margin-right: auto;
  display: block;
  max-height: 235px;
}

.footer {
  display: inline-block;
  position: absolute;
  background: rgba(248, 203, 156, 0.8);
  max-width: 100%;
  width: 100%;
  border-top: 3px solid #6c3d16;
  padding: 15px;
  margin-top: 15px;
  bottom: 0;
  left: 0;
}
.footer-right {
  float: right;
}

.social-account {
  width: 32px;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}

.social-account:hover {
  -webkit-filter: grayscale(0%);
  filter: grayscale(0%);
}
