.what-is-ft {
  border-top: 3px solid #6c3d16;
  border-bottom: 3px solid #6c3d16;
  background: rgba(248, 203, 156, 0.8);
  text-align: center;
  padding: 20px;
  margin-bottom: 0;
}
.what-is-ft-wrap {
  padding-bottom: 125px;
  margin-top: 15px;
}
.what-is-ft-description-wrap {
  background-color: white;
  padding: 35px;
}
.what-is-ft-description {
  font-size: x-large;
}
.main-additional-images-wrap {
  display: flex;
  flex-flow: row wrap;
  align-content: center;
  align-items: center;
  justify-content: space-around;
}
.main-additional-images{
  max-width: 115px;
  max-height: 175px;
  border: 1px solid #6c3d16;
  transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
}
.main-additional-images:hover {
  cursor: pointer;
  transform: scale(3);
}
.main-wrap {
  flex: 1;
  z-index: 10;
}
.main-wrap>p {
  background: white;
  border: 3px solid #6c3d16;
  margin: 15px;
}
.t3d {
  max-width: 250px;
  z-index: 11;
  opacity: 1 !important;
}
.int3d {
  height: 360px;
}

body {
  /*background: url("../images/1light_grey_blue.png");*/
  /*background: url("../images/gridme.png");*/
  /*background: url("../images/rockywall.png");*/
  background: url("../images/subtle_white_feathers.png");
  height: 100%;
}

html {
  height: 100%;
}

div#wrapper {
  min-height: 100%;
  position: relative;
}

.container.backPattern {
  display: block;
  padding-bottom: 15px;
}

.header nav {
  border-top: 3px solid #6c3d16;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  z-index: 49;
  /*margin-top: 10px;*/
}

nav a {
  text-decoration: none;
  padding: 10px 35px 0 35px;
  font-family: "MarckScript-Regular";
  color: #6c3d16;
  font-size: x-large;
}

#main-image, about-ft {
  display: flex;
  flex-flow: row wrap;
  align-content: flex-start;
  align-items: flex-start;
}

.main-images {
  display: inline-block;
  margin-bottom: 0;
}

.main-image {

  /*-webkit-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
  transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;*/

  transition:all linear 0.5s;
  -webkit-transition:all linear 0.5s;

  max-width: 700px;
  border: 3px solid #6c3d16;
  display: inline-block;
  float: left;
}

.toy-image {
  max-width: 250px;
  max-height: 250px;
}

/* Space out content a bit */
body {
  padding-top: 20px;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

/* Customize container */
@media (min-width: 768px) {
  .container {
    max-width: 730px;
  }
}
.container-narrow > hr {
  margin: 30px 0;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .header,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
}
