<div class="jumbotron main-images">
  <div class="main-image" ng-repeat="image in mainImages">
    <img src="{{image.src}}" alt="{{image.alt}}">
  </div>
</div>

<div class="row marketing">
  <h4>Что такое Игрушки от Веснушки?</h4>
  <p>
    Игрушки от Веснушки - это множество игрушек и сувениров, каждая из которых может быть отличным подарком, интерьерным решением для Вашего дома или же просто радостью для Вас! Каждая игрушка индивидуальна, ведь все они сделаны вручную! Надеюсь что каждый посетитель найдёт здесь что нибудь для себя!
  </p>
</div>
