<section id="main-image">
  <div id="interactive_3d" class="int3d">
    <img src="images/3d toys/tttt_1.png" alt="" class="t3d"/>
  </div>
  <div id="main-wrap" class="main-wrap">
    <p class="toy-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus amet cumque est facere provident quam ratione rem repellat sit tempore. Deleniti dolores ipsa minus perferendis sint. Iste laborum quaerat ullam!</p>
    <div class="main-additional-images-wrap">
      <img class="main-additional-images" src="images/main/t_2.JPG" alt=""/>
      <img class="main-additional-images" src="images/main/t_5.JPG" alt=""/>
      <img class="main-additional-images" src="images/main/t_10.JPG" alt=""/>
    </div>
  </div>
</section>
