<section class="toys_wrap">
    <div ng-href={{"#/category/"+category+"/"+toy.id}} class="toy" ng-repeat="toy in toys | filter:query">
      <div id="tools_container" class="tools_container">
        <img class="favorite_image" ng-class="getFavoriteToyClass(toy)" src="images/star.png" ng-click="addToFavorites(toy)" alt="В избранное"/>
      </div>
      <img src={{"images/toys/"+toy.category+"/"+img}} class="toy_image" ng-repeat="img in toy.img">
      <p class="toy-description">{{toy.description}}</p>
      <div id="additional_info" class="additional_info">
        <p class="materials">Материалы: {{toy.materials}}</p>
        <div id="price" class="price">
          <p id="price_caption">Стоимость: {{toy.price}} за 1 игрушку</p>
        </div>
      </div>
    </div>
</section>
